[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
python-dotenv = "*"
djoser = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
pillow = "*"
channels-redis = "*"
django = "*"
channels = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.12"
